# Part of the MUST Project, under BSD-3-Clause License
# See https://hpc.rwth-aachen.de/must/LICENSE for license information.
# SPDX-License-Identifier: BSD-3-Clause

/.gitattributes export-ignore
/.gitmodules    export-ignore

/Dockerfile export-ignore
/utility/docker export-ignore
/utility/apptainer export-ignore
/utility/githooks export-ignore
/utility/.gitlab export-ignore
/.gitlab-ci.yml export-ignore
.clang-format export-ignore

# Exclude non-production modules (and their test cases).
#
# Some modules are not ready for production yet and will be excluded from the
# release tarball. Of course, the specifications and test cases belonging to
# these modules will also be excluded to avoid failures when running MUST.
/modules/EuroMpi2011 export-ignore
/modules/IPDPS2012   export-ignore

/specifications/coll_reduction_prototype.xml export-ignore
/specifications/euro_mpi_2011*               export-ignore
/specifications/ipdps_2012*                  export-ignore
/specifications/apis.json                    export-ignore
/specifications/gen_api.py                   export-ignore
/specifications/mpi_func_extractor.sh        export-ignore
/specifications/already_mapped_op.sh         export-ignore


# Exclude old tests, e.g. Marmot and Umpire tests
# Exclude Marmot and Umpire from archives. (IMPORTANT!)
#
# As neither Marmot nor Umpire have been included into this project with a valid
# LICENSE file or permission to use their sources, these have to be excluded
# from the tarball for legal reasons.
/tests/old-tests export-ignore
