# Part of the MUST Project, under BSD-3-Clause License
# See https://hpc.rwth-aachen.de/must/LICENSE for license information.
# SPDX-License-Identifier: BSD-3-Clause

*.pyc
.cache/*
# Latex files
manual.*
!manual.tex
!manual.pdf

build/
install/
compile_commands.json
